/* Copyright © 2019-2021  Fanael Linithien */
/* SPDX-License-Identifier: AGPL-3.0-or-later OR CC-BY-SA-4.0 */
/* Basics */
* {
    margin: 0;
    padding: 0;
}

:focus {
    outline-offset: 0.125em;
    outline-offset: max(0.125em, 2px);
    outline: 0.125em dotted;
    outline-width: max(0.125em, 2px);
}

html {
    --basic-link-color: #2431a9;
    --box-shadow-color: #00000018;
    --box-shadow-specs: 0 0 0.75ch 0.5ch var(--box-shadow-color), 0 0 1.5ch 1ch var(--box-shadow-color);
    color-scheme: light dark;
    font-family: serif;
    line-height: 1.25;
    scroll-padding: 1.5em 0;
}

@media screen {
    html {
        background-color: #eee;
        background-image: linear-gradient(to bottom,
            #d52d0010 0%, #d52d0010 5.714%,
            #ef762710 15.714%, #ef762710 21.429%,
            #ff9a5610 31.429%, #ff9a5610 37.143%,
            #ffffff10 47.143%, #ffffff10 52.857%,
            #d162a410 62.857%, #d162a410 68.571%,
            #b5569010 78.571%, #b5569010 84.286%,
            #a3026210 94.286%);
        color: #11091c;
        font-size: calc(1em + 0.1vh + 0.1vw);
        min-height: 100%;
    }

    body {
        margin: 0 auto;
        max-width: 93.75%;
        width: 100ch;
    }
}

a:visited {
    color: #819;
}

a:link, a[href^="#"] {
    color: #2431a9;
}

a:active {
    color: #841;
}

a:focus {
    text-decoration-thickness: max(2px, 0.1em);
}

ul, ol {
    padding-left: 3ch;
}

main li {
    margin: 0.5em 0;
}

/* Banner-header */
#skip-nav {
    display: block;
    font-size: 81.25%;
    margin-top: 1.25rem;
    text-align: center;
}

#top-header {
    font-size: 207.4%;
    font-variant: small-caps;
    padding: 1.25rem 0 1rem;
    text-align: center;
}

/* Navigation menu */
#top-nav {
    line-height: 2;
    list-style: none;
    padding: 0 0 0.75em 0;
    text-align: center;
}

#top-nav li {
    display: inline-block;
    font-size: 112.5%;
    padding: 0 0.75ch;
}

@supports (display: flex) and (min-width: max-content) {
    #top-nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #top-nav li {
        min-width: max-content;

        flex-basis: calc((40ch - 100%) * 1000);
        flex-basis: clamp(min((40ch - 100%) * 1000, 35%), (25ch - 100%) * 1000, 100%);
    }
}

/* Articles */
main {
    border-top: thin dotted #777;
    line-height: 1.5;
}

@media (min-width: 50em) {
    main {
        line-height: 1.625;
    }
}

article header {
    padding-bottom: 1em;
}

article header p {
    color: #333;
    font-size: 81.25%;
    padding-top: 0;
    text-align: center;
    text-indent: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    line-height: 1.375;
    padding: 0.5rem 0;
    page-break-after: avoid;
}

h4, h5, h6 {
    font-weight: bold;
    line-height: 1.5;
}

h1 {
    font-size: 207.4%;
    font-variant: small-caps;
    padding-bottom: 0;
}

h2 {
    font-size: 172.8%;
}

h3 {
    font-size: 144%;
}

h4 {
    font-size: 120%;
}

h5 {
    font-size: 100%;
}

h6 {
    font-size: 83.33%;
}

article section:first-of-type {
    counter-reset: section;
}

article section {
    counter-increment: section;
}

article section .section-link > :first-child::before {
    content: counters(section, ".") ". ";
}

.section-link > [aria-hidden] {
    padding-left: 0.5ch;
    user-select: none;
}

@media (min-width: 118em),
(min-width: 95em) and (min-aspect-ratio: 1/4),
(min-width: 85em) and (min-aspect-ratio: 1/2),
(min-width: 75em) and (min-aspect-ratio: 1/1) {
    .section-link {
        display: inline-block;
        position: relative;
    }

    .section-link > [aria-hidden] {
        left: -2.25ch;
        padding-right: 2.25ch;
        position: absolute;
        top: 0;
    }
}

@supports (--x: 0) {
    .section-link {
        --text-decoration: underline;
        text-decoration-line: none;
    }

    .section-link:not(:hover):not(:focus):not(:active) {
        --link-color: var(--basic-link-color);
        --text-decoration: none;
        color: inherit;
    }

    .section-link > :first-child {
        text-decoration: var(--text-decoration);
        text-decoration-thickness: inherit;
    }

    .section-link > [aria-hidden] {
        color: var(--link-color, inherit);
    }
}

p {
    padding: 0.5em 0;
    text-indent: 3ch;
}

li > p {
    text-indent: 0;
}

aside, .info {
    border-radius: 1.5ch;
    margin: 0.5em 0;
    padding: 0.25em 1ch;
    page-break-inside: avoid;
}

aside {
    font-size: 87.5%;

    border: thin solid #777;
    border-width: thin thick;
}

.info {
    border: medium solid #658;
}

em, strong {
    color: #98362a;
}

/* Figures, code blocks and syntax highlighting */
pre, code, samp, kbd, .program-name {
    /* Browsers completely break relative font sizing when the font family
       is just "monospace", so work around this misbehavior. */
    font-family: monospace, monospace;
    font-size: 81.25%;
}

pre code, pre samp, pre kbd {
    font-size: 100%;
}

figure, pre.code-block {
    margin: 0.625em 0;
    page-break-inside: avoid;
    text-indent: 0;
}

pre.code-block {
    padding: 0.5em 1ch;
}

@media screen {
    pre.code-block {
        background-color: #ddc3;
        border-radius: 1.5ch;
        box-shadow: var(--box-shadow-specs);
        overflow: auto;
    }
}

pre.code-block .language {
    border-bottom: thin solid #aaa;
    display: block;
    margin-bottom: -1.625em;
}

.c-k, .c-se {
    color: #811;
    font-weight: bold;
}

.c-s, .c-gi {
    color: #138;
}

.c-m {
    color: #618;
}

.c-c {
    color: #555;
    font-style: italic;
}

.c-gh, .c-gu {
    color: #153;
}

.c-gd {
    color: #541;
}

figure {
    padding-top: 0.5em;
    text-align: center;

    border: medium #aaa;
    border-style: solid none;
}

figcaption p {
    text-align: left;
}

figure .holder > * {
    margin: 0.5em auto;
}

@media screen {
    figure .holder {
        overflow: auto;
    }
}

@supports (width: max(1%, 1vw)) {
    figure .holder {
        left: 50%;
        margin-left: min(-45vw, -50%);
        margin-right: min(-45vw, -50%);
        position: relative;
        right: 50%;
        width: max(100%, 90vw);
    }
}

figure img {
    display: block;
    height: auto;
    max-width: 100%;
    width: auto;
}

/* Tables */
table {
    border-collapse: collapse;
}

td, th {
    border: thin solid;
    padding: 0.2em 0.5ch;
}

tbody th {
    text-align: left;
}

tfoot {
    font-style: italic;
}

table.perf-stat td:nth-child(2) {
    font-variant-numeric: tabular-nums;
    text-align: right;
}

table.perf-stat td:nth-child(4) {
    text-align: left;
}

@media screen {
    tr {
        transition: background-color 0.2s;
    }

    td, th {
        white-space: nowrap;
    }

    thead, tfoot {
        background-color: #e5d1d488;
    }

    tbody > tr:nth-child(2n) {
        background-color: #cca3;
    }

    table tr:hover {
        background-color: #fae5;
    }
}

/* Table of contents */
.toc {
    background-color: #e5d1d444;
    border-radius: 1.5ch;
    box-shadow: var(--box-shadow-specs);
    padding: 1ch;
}

.toc ol {
    counter-reset: item;
}

.toc > ol {
    padding-left: 1.6ch;
}

.toc li {
    counter-increment: item;
    list-style-type: none;
}

.toc li::before {
    content: counters(item, ".") ". ";
}

/* In-order post navigation */
#order-nav {
    border-top: thin dotted #777;
    font-size: 112.5%;
    font-style: italic;
    line-height: 1.5;
    list-style: none;
    padding: 0.5rem 0;
    text-align: center;
}

#order-nav li {
    display: inline-block;
    width: 33.33333%;
}

#order-nav .top {
    display: block;
    padding-bottom: 0.375rem;
    width: 100%;
}

#order-nav .prev {
    text-align: left;
}

#order-nav .next {
    text-align: right;
}

/* Footer */
#footer {
    border-top: thin dotted #777;
    color: #555;
    font-size: 75%;
    line-height: 1.625;
    list-style: none;
    padding: 0.5rem 0 1rem;
    text-align: center;
}

/* Archives */
.read-full {
    display: block;
    font-style: italic;
    font-weight: bold;
    margin: 0.5em 0;
}

article:not(:last-child) .read-full {
    margin-bottom: 2.5em;
}

/* Dark mode */
@media only screen and (prefers-color-scheme: dark) {
    html {
        --box-shadow-color: #0007;
        --basic-link-color: #a1abda;
        background-color: #191919;
        background-image: none;
        color: #eee;
    }

    a:visited {
        color: #7edca4;
    }

    a:link, a[href^="#"] {
        color: #a1abda;
    }

    a:active {
        color: #e28382;
    }

    .c-m, .c-gd {
        color: #abf;
    }

    .c-s, .c-gi, em, strong {
        color: #7ea;
    }

    .c-k, .c-se, .c-gh, .c-gu {
        color: #f88;
    }

    thead, tfoot {
        background-color: #111;
    }

    figure, pre.code-block, pre.code-block .language, td, th {
        border-color: #888;
    }

    pre.code-block, .toc, tbody > tr:nth-child(2n) {
        background-color: #2b2b2b;
    }

    table tr:hover {
        background-color: #223;
    }

    .c-c, #footer li, article header p {
        color: #999;
    }
}

/* Print-friendly overrides */
@media print {
    nav, #skip-nav, .section-link > [aria-hidden] {
        display: none;
    }

    a:link, a:visited {
        color: inherit;
        text-decoration: inherit;
    }

    pre.code-block {
        white-space: pre-wrap;
    }
}
