/* Copyright © 2019-2020  Fanael Linithien */
/* SPDX-License-Identifier: GPL-3.0-or-later OR CC-BY-SA-4.0 */
/* Basics */
html {
    background-color: #ddc;
    color: #111;
    font-family: serif;
    font-size: 1.125em; /* fallback */
    font-size: calc(1em + 0.5vmin);
    padding: 0;
    margin: 0 auto;
    width: 100ch;
    max-width: 93.75%;
    line-height: 1.25;
    color-scheme: light dark;
}

body {
    margin: 0;
    padding: 0;
}

a:link {
    color: #149;
    text-decoration: underline;
}

a:visited {
    color: #819;
}

a:active {
    color: #941;
}

/* Banner-header */
#skip-nav {
    display: block;
    padding-top: 1.25rem;
    text-align: center;
    font-size: 0.8125rem;
}

#mainheader {
    margin: 0;
    padding: 1.25rem 0;
    text-align: center;
    font-variant: small-caps;
    font-size: 2.027rem;
}

/* Navigation menu */
#navmenu, #navmenu li {
    padding: 0;
    margin: 0;
}

#navmenu {
    list-style: none;
    text-align: center;
    padding-bottom: 1em;
    line-height: 1.625;
}

#navmenu li {
    display: inline-block;
    padding: 0 0.75ch;
    text-align: center;
    font-size: 1.125rem;
}

@supports (display: flex) and (min-width: max-content) {
    #navmenu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #navmenu li {
        min-width: max-content;
        flex-basis: calc((40ch - 100%) * 1000);
    }
}

/* Articles */
main {
    line-height: 1.625;
    border-top: thin dotted #777;
}

article header {
    padding-bottom: 1em;
}

article header .publishdate, .article-topics {
    padding-top: 0;
    font-size: 81.25%;
    text-indent: 0;
    text-align: center;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0.5rem 0;
    font-weight: normal;
}

.section-header-link {
    padding: 0 1ch;
}

.section-header-link:link {
    text-decoration: none;
}

h1 {
    font-size: 1.802rem;
    font-variant: small-caps;
    padding-bottom: 0;
}

h2 {
    font-size: 1.602rem;
}

h3 {
    font-size: 1.424rem;
}

h4 {
    font-size: 1.266rem;
    font-weight: bold;
}

h5 {
    font-size: 1.125rem;
    font-weight: bold;
}

h6 {
    font-size: 1rem;
    font-weight: bold;
}

p {
    margin: 0;
    padding: 0.5em 0;
    text-indent: 3.5ch;
}

aside {
    font-size: 87.5%;
    border: thin solid #777;
    border-width: thin thick;
    border-radius: 1.5ch;
    padding: 0.5625em 1ch;
}

/* Figures, code blocks and syntax highlighting */
pre, code, samp, kbd, cite.program-name {
    /* Browsers completely break relative font sizing when the font family
       is just "monospace", so work around this misbehavior. */
    font-family: monospace, monospace;
    font-size: 81.25%;
    margin: 0;
    padding: 0;
}

pre code, pre samp, pre kbd {
    font-size: inherit;
}

figure, pre.codeblock {
    text-indent: 0;
    border: thin solid #aaa;
    border-radius: 1.5ch;
    padding: 0.5em 1ch;
    margin: 0.625em 0;
}

figure {
    text-align: center;
}

figcaption {
    border-top: thin solid #aaa;
}

figure img {
    max-width: 100%;
    width: auto;
    height: auto;
}

pre.codeblock {
    overflow: auto;
}

pre.codeblock::before {
    display: block;
    font-size: 93.75%;
    content: attr(data-code-language);
    border-bottom: thin solid #aaa;
}

.c-k, .c-se {
    color: #811;
    font-weight: bold;
}

.c-s, .c-gi {
    color: #138;
}

.c-m {
    color: #618;
}

.c-c {
    color: #555;
    font-style: italic;
}

.c-gh, .c-gu {
    color: #153;
}

.c-gd {
    color: #541;
}

/* Table of contents */
.toc {
    border: thin dashed #777;
    border-radius: 1.5ch;
    padding: 1ch;
}

.toc ol, .toc ol li {
    margin: 0;
    padding: 0;
}

.toc ol {
    padding: 0 1ch;
    list-style-position: inside;
}

.toc li li {
    padding: 0 1.5ch;
}

/* In-order post navigation */
#prevnext, #prevnext li {
    margin: 0;
    padding: 0;
}

#prevnext {
    list-style: none;
    text-align: center;
    border-top: thin dotted #777;
    padding: 0.5rem 0;
    font-style: italic;
    font-size: 1.125rem;
}

#prevnext li {
    display: inline-block;
    width: 33.33333%;
}

#prevnext .top {
    display: block;
    padding-bottom: 0.375rem;
    width: 100%;
}

#prevnext .prev {
    text-align: left;
}

#prevnext .next {
    text-align: right;
}

/* Footer */
#footerstuff, #footerstuff li {
    margin: 0;
    padding: 0;
}

#footerstuff {
    list-style: none;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 1em;
    line-height: 1.625;
    border-top: thin dotted #777;
}

#footerstuff li {
    font-size: 0.75rem;
    color: #555;
}

/* Dark mode */
@media screen and (prefers-color-scheme: dark) {
    html {
        background-color: #223;
        color: #eee;
    }

    a:link {
        color: #8da;
    }

    a:visited {
        color: #a8d;
    }

    a:active {
        color: #da8;
    }

    article header .publishdate, .article-topics {
        color: #ccc;
    }

    figure, pre.codeblock {
        border-color: #555;
    }

    figcaption {
        border-top-color: #555;
    }

    pre.codeblock::before {
        border-bottom-color: #555;
    }

    .c-k, .c-se {
        color: #e77;
    }

    .c-s, .c-gi {
        color: #7ea;
    }

    .c-m {
        color: #7ee;
    }

    .c-c {
        color: #aaa;
    }

    .c-gh, .c-gu {
        color: #eac;
    }

    .c-gd {
        color: #aae;
    }

    #footerstuff li {
        color: #aaa;
    }
}

/* Print-friendly overrides */
@media print {
    html {
        background-color: initial;
        font-size: 100%;
        width: initial;
        max-width: initial;
    }

    nav, #skip-nav, .section-header-link {
        display: none;
    }

    a:link, a:visited {
        color: inherit;
        text-decoration: none;
    }

    pre.codeblock {
        page-break-inside: avoid;
        white-space: pre-wrap;
        overflow: initial;
    }

    figure {
        page-break-inside: avoid;
    }
}
