/* Copyright © 2019-2020  Fanael Linithien */
/* SPDX-License-Identifier: GPL-3.0-or-later OR CC-BY-SA-4.0 */
/* Basics */
* {
    margin: 0;
    padding: 0;
}

html {
    font-family: serif;
    line-height: 1.25;
    color-scheme: light dark;
}

@media screen {
    html {
        color: #111;
        background-color: #ddc;
        margin: 0 auto;
        width: 100ch;
        max-width: 93.75%;
    }
}

@media only screen and (min-height: 50em) and (min-width: 50em) {
    html {
        font-size: calc(1em + 0.3vmin);
        font-size: min(1em + 0.3vmin, 2em);
    }
}

a:link {
    color: #149;
    text-decoration: underline;
}

a:visited {
    color: #819;
}

a:active {
    color: #941;
}

ul, ol {
    padding-left: 3ch;
}

/* Banner-header */
#skip-nav {
    display: block;
    padding-top: 1.25rem;
    text-align: center;
    font-size: 81.25%;
}

#mainheader {
    padding: 1.25rem 0 1rem;
    text-align: center;
    font-variant: small-caps;
    font-size: 202.7%;
}

/* Navigation menu */
#navmenu {
    list-style: none;
    text-align: center;
    padding: 0 0 0.75em 0;
    line-height: 2;
}

#navmenu li {
    display: inline-block;
    padding: 0 0.75ch;
    text-align: center;
    font-size: 112.5%;
}

@supports (display: flex) and (min-width: max-content) {
    #navmenu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #navmenu li {
        min-width: max-content;
        flex-basis: calc((40ch - 100%) * 1000);
    }
}

/* Articles */
main {
    line-height: 1.625;
    border-top: thin dotted #777;
}

article header {
    padding-bottom: 1em;
}

article header p {
    padding-top: 0;
    font-size: 81.25%;
    text-indent: 0;
    text-align: center;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0.5rem 0;
}

h1, h2, h3 {
    font-weight: normal;
}

h4, h5, h6 {
    font-weight: bold;
}

h1 {
    font-size: 180.2%;
    font-variant: small-caps;
    padding-bottom: 0;
}

h2 {
    font-size: 160.2%;
}

h3 {
    font-size: 142.4%;
}

h4 {
    font-size: 126.6%;
}

h5 {
    font-size: 112.5%;
}

h6 {
    font-size: 100%;
}

a.section-header-link {
    padding: 0 1ch;
    text-decoration: none;
}

p {
    padding: 0.5em 0;
    text-indent: 3ch;
}

aside, .note {
    border-radius: 1.5ch;
    padding: 0.5625em 1ch;
}

aside {
    font-size: 87.5%;
    border: thin solid #777;
    border-width: thin thick;
}

.note {
    border: medium solid #658;
}

/* Figures, code blocks and syntax highlighting */
pre, code, samp, kbd, .program-name {
    /* Browsers completely break relative font sizing when the font family
       is just "monospace", so work around this misbehavior. */
    font-family: monospace, monospace;
    font-size: 81.25%;
}

pre code, pre samp, pre kbd {
    font-size: 100%;
}

figure, pre.codeblock {
    text-indent: 0;
    margin: 0.625em 0;
    page-break-inside: avoid;
}

pre.codeblock {
    border: thin solid #aaa;
    border-radius: 1.5ch;
    padding: 0.5em 1ch;
}

@media screen {
    pre.codeblock {
        overflow: auto;
    }
}

pre.codeblock::before {
    display: block;
    font-size: 93.75%;
    content: attr(data-code-language);
    border-bottom: thin solid #aaa;
}

.c-k, .c-se {
    color: #811;
    font-weight: bold;
}

.c-s, .c-gi {
    color: #138;
}

.c-m {
    color: #618;
}

.c-c {
    color: #555;
    font-style: italic;
}

.c-gh, .c-gu {
    color: #153;
}

.c-gd {
    color: #541;
}

figure {
    text-align: center;
    border: medium #aaa;
    border-style: solid none;
    padding: 0.5em 0;
}

@supports (width: max(1%, 1vw)) {
    figure .holder {
        position: relative;
        width: max(100%, 90vw);
        left: 50%;
        right: 50%;
        margin-left: min(-45vw, -50%);
        margin-right: min(-45vw, -50%);
    }
}

figcaption {
    border-top: thin solid #aaa;
}

figure img {
    max-width: 100%;
    width: auto;
    height: auto;
}

/* Table of contents */
.toc {
    border: thin dashed #777;
    border-radius: 1.5ch;
    padding: 1ch;
    line-height: 2;
}

.toc ol {
    counter-reset: item;
}

.toc > ol {
    padding-left: 1.6ch;
}

.toc li {
    counter-increment: item;
    list-style-type: none;
}

.toc li::before {
    content: counters(item, ".") ". ";
}

/* In-order post navigation */
#prevnext {
    list-style: none;
    text-align: center;
    border-top: thin dotted #777;
    padding: 0.5rem 0;
    font-style: italic;
    font-size: 112.5%;
    line-height: 1.5;
}

#prevnext li {
    display: inline-block;
    width: 33.33333%;
}

#prevnext .top {
    display: block;
    padding-bottom: 0.375rem;
    width: 100%;
}

#prevnext .prev {
    text-align: left;
}

#prevnext .next {
    text-align: right;
}

/* Footer */
#footerstuff {
    font-size: 75%;
    color: #555;
    list-style: none;
    text-align: center;
    padding: 0.5rem 0 1rem;
    line-height: 1.625;
    border-top: thin dotted #777;
}

/* Archives */
.archive-list {
    line-height: 2;
}

.read-full {
    display: block;
    margin: 0.5em 0;
    font-weight: bold;
    font-style: italic;
}

article:not(:last-child) .read-full {
    margin-bottom: 2.5em;
}

/* Dark mode */
@media only screen and (prefers-color-scheme: dark) {
    html {
        background-color: #223;
        color: #eee;
    }

    a:link {
        color: #8da;
    }

    a:visited {
        color: #a8d;
    }

    a:active {
        color: #da8;
    }

    article header p {
        color: #ccc;
    }

    figure, pre.codeblock, figcaption, pre.codeblock::before {
        border-color: #555;
    }

    .c-k, .c-se {
        color: #e77;
    }

    .c-s, .c-gi {
        color: #7ea;
    }

    .c-m {
        color: #7ee;
    }

    .c-c {
        color: #aaa;
    }

    .c-gh, .c-gu {
        color: #eac;
    }

    .c-gd {
        color: #aae;
    }

    #footerstuff li {
        color: #aaa;
    }
}

/* Print-friendly overrides */
@media print {
    nav, #skip-nav, a.section-header-link, .permalink {
        display: none;
    }

    a:link, a:visited {
        color: inherit;
        text-decoration: inherit;
    }

    pre.codeblock {
        white-space: pre-wrap;
    }
}
