/* Copyright © 2019-2021  Fanael Linithien */
/* SPDX-License-Identifier: GPL-3.0-or-later OR CC-BY-SA-4.0 */
/* Basics */
* {
    margin: 0;
    padding: 0;
}

html {
    color-scheme: light dark;
    font-family: serif;
    line-height: 1.25;
}

@media screen {
    html {
        background-color: #ddc;
        color: #111;
        margin: 0 auto;
        max-width: 93.75%;
        width: 100ch;
    }
}

@media only screen and (min-height: 50em) and (min-width: 50em) {
    html {
        font-size: calc(1em + 0.3vmin);
        font-size: min(1em + 0.3vmin, 2em);
    }
}

a:link {
    color: #149;
}

a:visited {
    color: #819;
}

a:active {
    color: #941;
}

ul, ol {
    padding-left: 3ch;
}

main li {
    margin: 0.5em 0;
}

/* Banner-header */
#skip-nav {
    display: block;
    font-size: 81.25%;
    padding-top: 1.25rem;
    text-align: center;
}

#top-header {
    font-size: 202.7%;
    font-variant: small-caps;
    padding: 1.25rem 0 1rem;
    text-align: center;
}

/* Navigation menu */
#top-nav {
    line-height: 2;
    list-style: none;
    padding: 0 0 0.75em 0;
    text-align: center;
}

#top-nav li {
    display: inline-block;
    font-size: 112.5%;
    padding: 0 0.75ch;
    text-align: center;
}

@supports (display: flex) and (min-width: max-content) {
    #top-nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #top-nav li {
        flex-basis: calc((40ch - 100%) * 1000);
        min-width: max-content;
    }
}

/* Articles */
main {
    border-top: thin dotted #777;
    line-height: 1.625;
}

article header {
    padding-bottom: 1em;
}

article header p {
    color: #333;
    font-size: 81.25%;
    padding-top: 0;
    text-align: center;
    text-indent: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    padding: 0.5rem 0;
    page-break-after: avoid;
}

h4, h5, h6 {
    font-weight: bold;
}

h1 {
    font-size: 180.2%;
    font-variant: small-caps;
    padding-bottom: 0;
}

h2 {
    font-size: 160.2%;
}

h3 {
    font-size: 142.4%;
}

h4 {
    font-size: 126.6%;
}

h5 {
    font-size: 112.5%;
}

h6 {
    font-size: 100%;
}

article section:first-of-type {
    counter-reset: section;
}

article section {
    counter-increment: section;
}

article section .section-heading::before {
    content: counters(section, ".") ". ";
}

.section-heading a {
    padding: 0 1ch;
    text-decoration: none;
}

p {
    padding: 0.5em 0;
    text-indent: 3ch;
}

li > p {
    text-indent: 0;
}

aside, .note {
    border-radius: 1.5ch;
    margin: 0.5em 0;
    padding: 0.25em 1ch;
    page-break-inside: avoid;
}

aside {
    font-size: 87.5%;

    border: thin solid #777;
    border-width: thin thick;
}

.note {
    border: medium solid #658;
}

em, strong {
    color: #701;
}

/* Figures, code blocks and syntax highlighting */
pre, code, samp, kbd, .program-name {
    /* Browsers completely break relative font sizing when the font family
       is just "monospace", so work around this misbehavior. */
    font-family: monospace, monospace;
    font-size: 81.25%;
}

pre code, pre samp, pre kbd {
    font-size: 100%;
}

figure, pre.code-block {
    margin: 0.625em 0;
    page-break-inside: avoid;
    text-indent: 0;
}

pre.code-block {
    padding: 0.5em 1ch;

    border: thin solid #aaa;
    border-radius: 1.5ch;
}

@media screen {
    pre.code-block {
        overflow: auto;
    }
}

pre.code-block::before {
    border-bottom: thin solid #aaa;
    content: attr(data-code-language);
    display: block;
    font-size: 93.75%;
}

.c-k, .c-se {
    color: #811;
    font-weight: bold;
}

.c-s, .c-gi {
    color: #138;
}

.c-m {
    color: #618;
}

.c-c {
    color: #555;
    font-style: italic;
}

.c-gh, .c-gu {
    color: #153;
}

.c-gd {
    color: #541;
}

figure {
    padding-top: 0.5em;
    text-align: center;

    border: medium #aaa;
    border-style: solid none;
}

figcaption p {
    text-align: left;
}

figure .holder > * {
    margin: 0.5em auto;
    vertical-align: bottom;
}

@media screen {
    figure .holder {
        overflow: auto;
    }
}

@supports (width: max(1%, 1vw)) {
    figure .holder {
        left: 50%;
        margin-left: min(-45vw, -50%);
        margin-right: min(-45vw, -50%);
        position: relative;
        right: 50%;
        width: max(100%, 90vw);
    }
}

figure img {
    height: auto;
    max-width: 100%;
    width: auto;
}

/* Tables */
table {
    border-collapse: collapse;
}

td, th {
    border: thin solid currentcolor;
    padding: 0.2em 0.5ch;
}

tbody th {
    text-align: left;
}

tfoot {
    font-style: italic;
}

table.perf-stat td:nth-child(2) {
    font-variant-numeric: tabular-nums;
    text-align: right;
}

table.perf-stat td:nth-child(4) {
    text-align: left;
}

@media screen {
    tr {
        transition: background-color 0.2s;
    }

    td, th {
        white-space: nowrap;
    }

    thead, tfoot {
        background-color: #eed;
    }

    tbody > tr:nth-child(2n) {
        background-color: #ccb;
    }

    table tr:hover {
        background-color: #dcd;
    }
}

/* Table of contents */
.toc {
    border-radius: 1.5ch;
    border: thin dashed #777;
    padding: 1ch;
}

.toc ol {
    counter-reset: item;
}

.toc > ol {
    padding-left: 1.6ch;
}

.toc li {
    counter-increment: item;
    list-style-type: none;
}

.toc li::before {
    content: counters(item, ".") ". ";
}

/* In-order post navigation */
#order-nav {
    border-top: thin dotted #777;
    font-size: 112.5%;
    font-style: italic;
    line-height: 1.5;
    list-style: none;
    padding: 0.5rem 0;
    text-align: center;
}

#order-nav li {
    display: inline-block;
    width: 33.33333%;
}

#order-nav .top {
    display: block;
    padding-bottom: 0.375rem;
    width: 100%;
}

#order-nav .prev {
    text-align: left;
}

#order-nav .next {
    text-align: right;
}

/* Footer */
#footer {
    border-top: thin dotted #777;
    color: #555;
    font-size: 75%;
    line-height: 1.625;
    list-style: none;
    padding: 0.5rem 0 1rem;
    text-align: center;
}

/* Archives */
.read-full {
    display: block;
    font-style: italic;
    font-weight: bold;
    margin: 0.5em 0;
}

article:not(:last-child) .read-full {
    margin-bottom: 2.5em;
}

/* Dark mode */
@media only screen and (prefers-color-scheme: dark) {
    html {
        background-color: #112;
        color: #ddd;
    }

    a:link {
        color: #ad8;
    }

    a:visited {
        color: #a8d;
    }

    a:active {
        color: #da8;
    }

    article header p {
        color: #bbb;
    }

    em, strong {
        color: #aec;
    }

    figure, pre.code-block, pre.code-block::before {
        border-color: #555;
    }

    .c-k, .c-se {
        color: #e77;
    }

    .c-s, .c-gi {
        color: #7ea;
    }

    .c-m {
        color: #7ee;
    }

    .c-c {
        color: #aaa;
    }

    .c-gh, .c-gu {
        color: #eac;
    }

    .c-gd {
        color: #aae;
    }

    td, th {
        border-color: #999;
    }

    thead, tfoot {
        background-color: #001;
    }

    tbody > tr:nth-child(2n) {
        background-color: #223;
    }

    table tr:hover {
        background-color: #211;
    }

    #footer li {
        color: #aaa;
    }
}

/* Print-friendly overrides */
@media print {
    nav, #skip-nav, .section-heading a {
        display: none;
    }

    a:link, a:visited {
        color: inherit;
        text-decoration: inherit;
    }

    pre.code-block {
        white-space: pre-wrap;
    }
}
